@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #06b48e; /* Tailwind's cyan-500 */
  --primary-dark: #05362b; /* Tailwind's cyan-500 */
  --secondary: #e66400; /* Tailwind's blue-500 */
  --dark-header: "#00000";
}

body {
  @apply bg-white text-black;
}

.dark body {
  @apply bg-gray-100 text-white;
}

.cls-1 {
  fill: var(--primary);
}
