<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      style="margin: 10px; border: 1px solid black; padding: 10px"
      action="/upload/single"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="singleFile"/>
      <button type="submit">Single Upload</button>
    </form>
    <form
      style="margin: 10px; border: 1px solid black; padding: 10px"
      action="/upload/multiple"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="singleFile"/>
      <input type="file" name="multiFile" multiple/>
      <button type="submit">Multiple Upload</button>
    </form>
  </body>
</html>
